.container {
    width: 200px;
    height: 200px;
    display: flex;
}

.box {
    width: 200px;
    height: 200px;
    transition: all 3s;
}

.red {
    background-color: red;
}

.green {
    width: 0px;
    background-color: green;
}