.container {
    width: 200px;
    height: 200px;
    display: flex;
    overflow: hidden;
}

.box {
    width: 0px;
    height: 200px;
    transition: all 3s;
}

.box img {
    max-width: 200px;
    max-height: 200px;
}

.red {
    background-color: red;
}

.green {
    background-color: green;
}

.isActive{
    width: 200px;
}